* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
}

.main {
    background-image: url(images/pg.jpg);
    background-position: center center;
    background-size: max(2000px, 100vw);
    background-repeat: no-repeat;
    height: 100vh;
    position: relative;

}

.main .box {
    opacity: 0.5;
    height: 100vh;
    width: 100%;
    background-color: black;
    top: 0px;
    position: absolute;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    max-width: 80vw;
    height: 64px;
    padding: 40px;
}

nav img {
    color: red;
    width: 145px;
    position: relative;
    z-index: 10;
}

nav button {
    position: relative;
    z-index: 10;

}



button select {
    width: 130px;
    height: 35px;
    font-size: 15px;
    font-weight: bold;
    border-radius: 5px;
    border: 1px solid grey;
    text-align: center;
    background-color: rgba(10, 10, 10, 0.932);
    color: white;

}

/* select {
    background-color: rgba(29, 28, 28, 0.096);
} */

.button {
    width: 80px;
    height: 35px;
    border-radius: 5px;
    border: none;
    background-color: rgb(255, 12, 25);
    color: whitesmoke;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
}



.login-page {
    display: flex;
    flex-direction: column;
    color: whitesmoke;
    font-size: 30px;
    height: calc(100% - 80px);
    align-items: center;
    justify-content: center;
    position: relative;
    /* font-family: "Netflix Sans", "Helvetica Neue", "Segoe UI", Roboto, Ubuntu, sans-serif; */
    font-family: "Noto Sans", sans-serif;
    font-weight: 400px;
    color: whitesmoke;
    gap: 20px;
    text-align: center;
    padding: 25px;
}

.login-page> :first-child {
    font-size: 56px;
    font-weight: 900;
}

.login-page :nth-child(2) {
    font-size: 20px;
    font-weight: 500;
}

.login-page :nth-child(3) {
    font-size: 16px;
    font-weight: 400;
}

.login-page .login-buttons {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    gap: 8px;

}

.login-page .login-buttons input {
    height: 58px;
    width: 443px;
    border-radius: 4px;
    border: 1px solid grey;
    padding: 20px;
    font-size: 17px;
    background-color: rgba(27, 26, 26, 0.658);
    color: white;
    font-weight: bold;
}

.login-page .login-buttons button {
    border-radius: 4px;
    height: 58px;
    width: 200px;
    text-align: center;
    font-weight: bold;
    font-size: 23px;
    background-color: red;
    color: whitesmoke;
    border: none;

}

.separation {
    background-color: rgb(73, 73, 73);
    height: 7px;
}


.second {
    font-family: Arial, sans-serif;
    background-color: #000;
    color: white;
    margin: 0;
    padding: 40px;
}


h2 {
    font-size: 22px;
    margin-bottom: 20px;
    padding-left: 80px;
}

.card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
}

.card {
    background: linear-gradient(to bottom, #1a1a2e, #0f0f1a);
    padding: 20px;
    border-radius: 15px;
    width: 265px;
    height: 325px;
    min-height: 180px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s ease;
}

.card:hover {
    transform: translateY(-5px);
}

.card h3 {
    margin: 0;
    font-size: 25px;
    font-family: Arial, sans-serif;
    margin-bottom: 10px;
    color: rgb(255, 255, 255);
}

.card p {
    font-size: 17px;
    font-family: Arial, sans-serif;
    font-weight: bold;
    line-height: 1.4;
    margin-bottom: 15px;
    color: rgba(255, 255, 255, 0.63);
}

.icon {
    font-size: 40px;
    text-align: right;

}

.third {
    font-family: Arial, sans-serif;
    background-color: #000;
    color: white;
    /* margin: 0; */
    padding: 34px;
    /* font-size: 18px;
    font-weight: 500; */
}

.faqbox:hover {
    background-color: rgb(70, 68, 68);
}

.faqbox {
    display: flex;
    justify-content: space-between;
    background-color: rgb(41, 40, 40);
    color: white;
    padding: 28px;
    max-width: 80vw;
    margin: 10px auto;
    cursor: pointer;
    font-size: 25px;
}

.icon {
    color: white;
}

.fourth p {
    color: white;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    padding: 18px;
    font-size: 16px;
    font-weight: 400;
}

.login-page2 {
    padding-bottom: 45px;
}

.login-page2 .login-buttons2 {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    gap: 8px;

}

.login-page2 .login-buttons2 input {
    height: 58px;
    width: 555px;
    border-radius: 4px;
    border: 1px solid grey;
    padding: 20px;
    font-size: 17px;
    background-color: rgba(27, 26, 26, 0.658);
    color: white;
    font-weight: bold;
}

.login-page2 .login-buttons2 button {
    border-radius: 4px;
    height: 58px;
    width: 200px;
    text-align: center;
    font-weight: bold;
    font-size: 23px;
    background-color: red;
    color: whitesmoke;
    border: none;

}

footer {
    color: white;
    max-width: 60vw;
    margin: auto;
    padding: 14px;

}

footer .questions {
    padding: 34px 0;
}


.footer {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        /* grid-template-columns: 1fr 1fr 1fr 1fr; */
        gap: 25px;
        color: white;

    }

@media screen and (min-width :1300px) {
    .footer {
        display: grid;
        /* grid-template-columns: 1fr 1fr 1fr 1fr; */
        grid-template-columns: 1fr 1fr;
        gap: 25px;
        color: white;

    }
}

.footer a {
    font-size: 14px;
    color: white;

}

footer-item {
    display: flex;
    flex-direction: column;
    gap: 23px;
    align-items: center;
}